.opportunities {
  color: #2e2e3a;
  background-color: #ebeeff;
  padding: 10px;
}
.opp_container {
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: transparent;
}
#logo_img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 250px;
  width: 250px;
}
